<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>
      {% block title %}
      {% endblock title %}

    </title>
    <style>
      .nav-item .nav-link active : hover{
      background-color:red;

      }

    </style>
  </head>
  <body>
<div class="outer ">
  <div class="container-fluid ">

  <img src="/static/photo/karam.png" class="d-block " height="100px" width="150px"  alt="..."/>

</div>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/aboutus">About US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/product">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/jobs">Jobs</a>
        </li>

        {%  if not user.is_authenticated %}
         <li class="nav-item">
          <a class="nav-link active" href="/loginform">Login</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" href="/signup">Signup</a>
        </li>


        {%  else %}
        <li class="nav-item">
          <a class="nav-link active" href="#"> Welcome to {{ request.user.first_name}}</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" href="/logout">Logout</a>
        </li>
        {% endif %}


      </ul>

    </div>
  </div>
</nav>

{% block body %}
{% endblock body %}

  <div class="card text-center bg-dark">
  <div class="card-header text-light">
    Privacy Policy | Terms & Conditions

  </div>
  <div class="card-body bg-dark">
    <h5 class="card-title text-light">Global Presence </h5>
    <p class="card-text text-light">Expanding our reach: Providing products and services to customers worldwide</p>
    <a href="#" class="btn btn-primary m-1"><i class="bi bi-facebook " title="facebook"></i></a>
      <a href="#" class="btn btn-primary m-1" title="rahul"><i class="bi bi-instagram"></i></a>
      <a href="#" class="btn btn-primary m-1"><i class="bi bi-twitter"></i></a>
      <a href="#" class="btn btn-primary m-1"><i class="bi bi-google"></i></a>
      <a href="#" class="btn btn-primary m-1"><i class="bi bi-youtube"></i></a>
  </div>
  <div class="card-footer text-light">
       © 2024, All rights reserved by KARAM safety Pvt.Ltd. &nbsp; &nbsp;
    Design & Developed by Mr. Rahul Rathor
  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</div>
  </body>
</html>