{% extends "base.html"  %}
{% block title %}
contact
      {% endblock title %}

{% block body %}
<!--slider--start-->
 <div class="container-fluid ">
       <img src="/static/photo/kk.jpg" class="d-block w-100" height="500px" alt="...">

</div>
<!--slider--end-->
<!--content--start--->
<div class="container-fluid">
      <div class="container-fluid text-start p-5">
            <h2 class="text-danger">ABOUT  KARAM</h2>
      KARAM is India's leading Personal protective Equipment Manufacturing enterprise,andis rated as
      one of the finest India companies providing world class PPE. KARAM ranks as the number one Company
      in the field of Personal safety in the country,and as one of the top ten full protection
      manufacturing companies in the World. Our product range include personal protection Equipment
      like safety helmets, safety eyewear, hearing protective equlpment,welding protective face
      shields,respiratory protective equipment,safety shoes,and avast range of fall Protection
      Equipment. Besides these, engineered safety solutions like anchorage systems,specialized
      rope access and resource product, and confined space entry/egress systems also form
      a part of KARAM's Product Portfolio. KARAM Training and Consultancy is a specialized wing created for providing training and safety consultancy in field of work-at-height in India.
      <br><br>
      KARAM specializes in the field of safety Harness & Body Belts,Hooks & Karabiners,Lanyards,Anchor
      Points,Horizontal Lifelines,Vertical lifelines,Tripods & Winches,Rescue & Descent Equipment,
      Self Retracting Lifelines safety helmets,Safety Shoes,Protection,Welding Protection,Respirators
      etc.All these products undergo stringent quality checks and are certifird as per IS & DGMS
      and other International norms. KARAM also offers customized Training and Consultany to combat safety Hazards in different indostries in India.
      </div>
</div>
<!--content --end--->


<!--COL-MD-4 ----start-->
<div class="container-fluid text-danger p-2"><h2>Modules In Project</h2></div>
<div class="container-fluid">

  <div class="row text-white">
    <div class="col-6 col-md-4 bg-primary p-3">
        <h4>1)Employee Master</h4>
This module manages the Employee of Karam industry.
        <h4>2)Department Master</h4>
This module is responsible for manging the department of Karam industry.
        <h4>3)Complain Raising System</h4>
In this module the production department employee raise the complain and transfer to the service department.


    </div>
    <div class="col-6 col-md-4  bg-success p-3">
        <h4>4)Complain Tracking System</h4>
In this module the employee of production department can track the complain status.
        <h4>5)Service Management</h4>
This module take care of service department of Karam industries.
        <h4>6)Administration</h4>
This is administration control panel,from where the administrator can updata,delete,and add the details.


    </div>
    <div class="col-6 col-md-4  bg-info p-3">
        <h4>7)Login Manager</h4>h4>
This module provide authentication to the user.User need to provide user id and password to be an authentication user.
        <h4>8)SMS API Intergration</h4>
This module provides the SMS alert on online appointment of patient with SGPGI expert.
        <h4>9)Enquiry Module</h4>
This module is used to manage the online enquiry.
        <h4>10)Feedback Module</h4>
If the register user wants to give his/her feedback.this module will take care of given feedback.
    </div>
  </div>


</div>
<!---col-md-4---end-->
<!--image--start--->
<div class="container-fluid p-5">
       <img src="/static/photo/manu.jpg" class="d-block w-100" height="800px" alt="...">

</div>
<!--image--end-->
{% endblock body %}
