{% extends "base.html"  %}
{% block title %}
JOBS
      {% endblock title %}

{% block body %}
<div class="container-fluid">
      <div class="container">
          <h1 class="text-center">JOBS</h1><table class="table table-hover ">
  <thead>
    <tr>

      <th scope="col">Job title</th>
      <th scope="col">Salary</th>
      <th scope="col">Experience</th>
          <th scope="col">Location</th>
      <th scope="col">Date</th>


	   </tr>
  </thead>
  <tbody>
  {% for i in job %}
    <tr>
      <td>{{i.jobtitle}}</td>
      <td>{{i.salary}}</td>
      <td>{{i.experience}}</td>
          <td>{{i.location}}</td>
          <td>{{i.date}}</td>

    </tr>
  {% endfor %}
  </tbody>
</table>
      </div>
</div>
{% endblock body %}