{% extends "base3.html"  %}
{% block title %}
Password Page
      {% endblock title %}

{% block body %}
<div class="container-fluid">
      <div class="container">
          <div class="row">
    <div class="col-sm-6 mx-auto bg-light my-5">
         <form method="post" action="">
            {%  csrf_token %}
            <h1>Get Your Password</h1><hr>
             {{form.as_p}}
        <div class="form-group">
                <input type="submit" class="btn btn-success m-4" value="Change Password" id="sbbtn">
            </div>
        </form>
    </div>

  </div>
      </div>
    <script>
        function check_pass(){
           let p= $('#pas').val();
           let cp= $('#cpas').val();
           if(p==cp){
           $("#pas").css("border","1px solid green");
           $("#cpas").css("border","1px solid green");
           $('#sbbtn').removeAttr('disabled');
           }
           else{
           $("#pas").css("border","1px solid red");
           $("#cpas").css("border","1px solid red");
           $('#sbbtn').attr('disabled','disabled');
           }
         }
        </script>
</div>
{% endblock body %}