{% extends "base2.html" %}
{% block title %}  Subscriber
      {% endblock title %}
{% block body %}
<div class="container-fluid">
      <div class="container">
            <h1>View Subscriber</h1>
           <table class="table  table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile No.</th>
           <th scope="col">Last Login</th>
           <th scope="col">Date_joined</th>
    </tr>
  </thead>
  <tbody>
  {% for i in myuser %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.first_name}}</td>
      <td>{{i.email}}</td>
      <td>{{i.username}}</td>
      <td>{{i.last_login}}</td>
          <td>{{i.date_joined}}</td>
    </tr>
  {%  endfor %}


  </tbody>
</table>

            </div>
</div>
{% endblock body%}