{% extends "base2.html"  %}
{% block title %}
view feedback
{% endblock title %}

{% block body %}
<div class="container-fluid">
      <div class="container">
          <h1>View Feedback</h1><table class="table table-hover ">
  <thead>
    <tr>

      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Feedback</th>
      <th scope="col">Date</th>


	   </tr>
  </thead>
  <tbody>
  {% for i in feed %}
    <tr>
      <td>{{i.name}}</td>
      <td>{{i.email}}</td>
      <td>{{i.feedback}}</td>
          <td>{{i.date}}</td>

    </tr>
  {% endfor %}
  </tbody>
</table>
      </div>
</div>

{% endblock body%}